@use 'sass/mixins';
@use 'sass/variables';

.header {
    display: block;
    padding-top: 30px;

    @include mixins.large {
        padding-top: 40px;
    }

    &__wrapper {
        display: flex;

        .logo {
            display: block;
            flex: 1;

            span {
                display: none;
            }
    
            .image {
                &--big {
                    display: none;
                    width: 385px;
                    height: 65px;

                    @include mixins.large {
                        display: block;
                    }
                }

                &--small {
                    display: block;
                    width: 98px;

                    @include mixins.large {
                        display: none;
                    }
                }
            }
        }
    
        .menu {
            display: block;
            flex: 1.5;
            text-align: right;
            padding-top: 8px;

            .menu__item {
                display: inline-block;
                font-family: variables.$font-family-primary;
                color: variables.$color-white;
                font-weight: 400;
                font-size: 0.9375rem;
                text-decoration: none;
                margin-right: 25px;

                &:hover,
                &--active {
                    padding-bottom: 2px;
                    border-bottom: 2px solid variables.$color-white;
                }
            }
        }
    }
}
