// Media queries
@mixin desktop {
    @media (min-width: 1200px) {
        @content;
    }
}

// Visual snippets
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
        border-radius: $radius;
}
