// Media queries
@mixin small {
    @media (min-width: 480px) {
        @content;
    }
}

@mixin medium {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin large {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin extra-large {
    @media (min-width: 1200px) {
        @content;
    }
}

// Styling snippets
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
        border-radius: $radius;
}
