@import 'sass/mixins';
@import 'sass/variables';

body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;

    @include extra-large {
        width: 1140px;
        max-width: 100%;
    }
}
