@use 'sass/mixins';
@use 'sass/variables';

.button {
    display: inline-block;
    font-family: variables.$font-family-primary;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
    cursor: pointer;

    // Type
    &--primary {
        background: variables.$color-blue;
        color: variables.$color-white;
        border: 1px solid variables.$color-white;

        &:hover {
            background: variables.$color-white;
            color: variables.$color-black;
            border: 1px solid variables.$color-black;
        }
    }

    &--secondary {
        color: variables.$color-blue;
        background: variables.$color-white;

        &:hover {
            background: variables.$color-black;
            color: variables.$color-white;
        }
    }

    &--tertiary {
        color: variables.$color-white;
        background: transparent;
        border: 2px solid variables.$color-white;

        &:hover {
            background: variables.$color-white;
            color: variables.$color-blue;
        }
    }

    // Size
    &--small {
        font-size: 0.75rem;
        padding: 10px 15px;
    }

    &--medium {
        font-size: 0.9375rem;
        padding: 11px 25px 12px;
    }

    &--small-to-medium {
        font-size: 0.75rem;
        padding: 10px 15px;

        @include mixins.medium {
            font-size: 0.9375rem;
            padding: 11px 25px 12px;
        }
    }

    &--large {
        font-size: 1rem;
        padding: 21px 32px;
    }
}
