@import 'sass/mixins';
@import 'sass/variables';

.cookieBar {
    padding: 10px;
    box-sizing: border-box;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    transition: all 0.25s;

    &__text {
        display: block;
        font-family: $font-family-primary;
        font-weight: 400;
        font-size: 0.75rem;
        color: $color-blue;
        padding-bottom: 7px;

        @include large {
            display: inline;
            font-size: 1rem;
            padding-right: 20px;
            padding-bottom: 0;
        }
    }
}
