@use 'sass/mixins';
@use 'sass/variables';

.testimonials {
    background: variables.$color-lightgrey;
    padding-top: 35px;
    padding-bottom: 40px;

    @include mixins.extra-large {
        padding-top: 65px;
        padding-bottom: 65px;
    }

    &__heading {
        font-family: variables.$font-family-secondary;
        font-weight: 400;
        font-size: 1.4rem;
        text-align: center;

        @include mixins.large {
            font-size: 2.25rem;
        }
    }

    &__subheading {
        font-family: variables.$font-family-primary;
        font-weight: 400;
        font-size: 0.75rem;
        text-align: center;
        margin-top: 15px;

        @include mixins.large {
            font-size: 1rem;
        }
    }

    &__videos {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin-top: 35px;
        margin-bottom: 25px;

        @include mixins.large {
            flex-direction: row;
        }

        .video {
            flex: 1;

            @include mixins.large {
                &:first-child {
                    margin-right: 30px;
                }
            }

            &__wrapper {
                background-size: cover;
            }

            &__author {
                text-align: center;
                padding-bottom: 35px;
                margin-top: 20px;

                @include mixins.medium {
                    padding-bottom: 45px;
                }
            }
        }
    }

    @include mixins.author();

    &__list {
        display: flex;
        flex-direction: column;
        list-style-type: none;

        @include mixins.large {
            flex-direction: row;
        }

        .testimonial {
            flex: 1;
            background: variables.$color-white;
            box-sizing: border-box;
            padding: 20px;
            text-align: center;
            border: 1px solid variables.$color-grey;
            margin-bottom: 30px;

            @include mixins.large {
                padding: 35px;
                margin-bottom: 0;
                margin-right: 30px;
            }

            &:last-child {
                margin-bottom: 0;

                @include mixins.large {
                    margin-right: 0;
                }
            }

            &__image {
                width: 140px;
                height: 140px;
                margin: 0 auto;
                margin-bottom: 10px;
                border-radius: 50%;
            }

            &__quote {
                font-family: variables.$font-family-primary;
                font-size: 0.9375rem;
                line-height: 1.40625rem;
                font-weight: 400;
                margin-bottom: 20px;

                svg {
                    color: variables.$color-blue;
                }
            }
        }
    }

    &__cta {
        padding-top: 30px;
        text-align: center;

        @include mixins.large {
            padding-top: 40px;
        }
    }
}
