$font-family-primary: "Noto Sans", sans-serif;
$font-family-secondary: "Noto Serif", serif;
$color-white: #ffffff;
$color-black: #1f1f1f;
$color-grey: #d8d8d8;
$color-lightgrey: #f6f6f6;
$color-blue: #007dc3;