@import '../../sass/mixins';
@import '../../sass/variables';

.footer {
    background: $color-white;
    padding-top: 30px;
    padding-bottom: 15px;
    border-top: 1px solid $color-grey;

    @include desktop {
        padding-bottom: 30px;
    }

    &__blocks {
        display: flex;
        flex-wrap: wrap;

        .copyright {
            flex: 1.5;
            font-family: $font-family-primary;
            font-size: 0.75rem;
        }
    
        .links {
            flex: 1;
    
            &__social {
                position: relative;
                top: -5px;
                list-style-type: none;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: flex-end;
    
                .socialLink {
                    &:first-child {
                        margin-right: 5px;
                    }
    
                    a {
                        font-size: 20px;
                        color: $color-black;
    
                        &:hover {
                            color: $color-blue;
                        }
                    }
                }
            }
        }
    }
}
