@use 'sass/mixins';
@use 'sass/variables';

.footer {
    background: variables.$color-white;
    padding-top: 30px;
    padding-bottom: 15px;
    border-top: 1px solid variables.$color-grey;

    @include mixins.large {
        padding-bottom: 30px;
    }

    &__blocks {
        display: flex;
        flex-wrap: wrap;

        .copyright {
            flex: 2;
            font-family: variables.$font-family-primary;
            font-size: 0.65rem;

            @include mixins.large {
                font-size: 0.75rem;
            }
        }
    
        .links {
            flex: 1;
    
            &__social {
                position: relative;
                top: -5px;
                list-style-type: none;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: flex-end;
    
                .socialLink {
                    &:first-child {
                        margin-right: 10px;
                    }
    
                    a {
                        font-size: 1.5rem;
                        color: variables.$color-black;
    
                        &:hover {
                            color: variables.$color-blue;
                        }
                    }
                }
            }
        }
    }
}
