@import '../../../../sass/mixins';
@import '../../../../sass/public/variables';

.testimonials {
    background: $color-lightgrey;
    padding-top: 65px;
    padding-bottom: 65px;

    .heading {
        font-family: $font-family-secondary;
        font-weight: 400;
        font-size: 2.25rem;
        text-align: center;
    }

    .subheading {
        font-family: $font-family-primary;
        font-weight: 400;
        font-size: 1rem;
        text-align: center;
        margin-top: 15px;
    }

    .video {
        max-width: 80%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 55px;
    }

    .list {
        display: flex;
        list-style-type: none;

        &__item {
            flex: 1;
            background: $color-white;
            box-sizing: border-box;
            padding: 35px;
            text-align: center;
            border: 1px solid $color-grey;
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }

            picture {
                img {
                    width: 140px;
                    height: 140px;
                    margin: 0 auto;
                    margin-bottom: 10px;
                    border-radius: 50%;
                }
            }

            .quote {
                font-family: $font-family-primary;
                font-size: 0.9375rem;
                line-height: 1.40625rem;
                font-weight: 400;
                margin-bottom: 20px;

                svg {
                    color: $color-blue;
                }
            }

            hr {
                display: block;
                width: 27px;
                height: 2px;
                background: $color-blue;
                margin: 0 auto;
                margin-top: 10px;
                margin-bottom: 20px;
                border: none;
            }

            .author {
                .author__name {
                    color: $color-black;
                    font-family: $font-family-secondary;
                    font-size: 1.25rem;
                    font-weight: 400;
                }

                .author__company {
                    color: $color-blue;
                    font-family: $font-family-primary;
                    font-size: 0.8125rem;
                    font-weight: 700;
                }

                .author__location {
                    color: $color-black;
                    font-family: $font-family-primary;
                    font-size: 0.6875rem;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
        }
    }

    .cta {
        padding-top: 40px;
        text-align: center;
    }
}
