@import '../../../sass/mixins';
@import '../../../sass/public/variables';

.header {
    padding-top: 40px;

    &__wrapper {
        display: flex;

        .logo {
            display: block;
            flex: 1;
    
            img {
                width: 385px;
                height: 65px;
            }
        }
    
        .menu {
            flex: 1;
            text-align: right;
            padding-top: 8px;

            .menu__item {
                display: inline-block;
                font-family: $font-family-primary;
                color: $color-white;
                font-weight: 400;
                font-size: 0.9375rem;
                text-decoration: none;
                margin-right: 25px;

                &:hover,
                &--active {
                    padding-bottom: 2px;
                    border-bottom: 2px solid $color-white;
                }
            }
        }
    }
}
